* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.Skills_container {
  width: 95%;
  margin: auto;
  /* height: 80vh; */
  /* padding: 5%; */
  /* border: 2px solid blue; */
}



.skill_div {
  padding: 4%;
  margin: 1%;
  /* border: 2px solid red; */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  background-color: teal;
}

.skill_div2 {
  width: 45%;
  height: 400px;
  padding: 2%;
  margin: 1%;
  /* border: 2px solid red; */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.skill_Name {
  color: white;
  transition: 0.5s;
}

.skill_img {
  display: none;
  /* mix-blend-mode: multiply; */
}

.skill_Name:hover {
  color: black;
}

@media screen and (width<1200px) {
  .Skills_container {
    height: 85vh;
    overflow: scroll;
  }
}

@media screen and (width<=800px) {
  .Skills_container {
    width: 90%;
    margin: auto;
    min-width: 300px;
    height: 80vh;
    margin-bottom: 2%;

    /* scroll-behavior: smooth; */
  }
  .technicalSkills_div {
    display: grid;
  }

  .skill_div:nth-child(odd) {
    width: 100%;
    display: flex;
    min-height: 20vh;
    /* flex-direction: row-reverse; */
    align-items: center;
    background-color: white;
    justify-content: center;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid teal;

    /* border: 2px solid red; */
  }
  .skill_div:nth-child(even) {
    width: 100%;
    display: flex;
    min-height: 20vh;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: none;
    border-bottom: 2px solid teal;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    /* border: 2px solid red; */
  }

  .skill_Name {
    display: none;
  }

  .skill_img {
    display: block;
    width: 25%;
  }
  .size-image {
    width: 100%;
    height: 80%;
  }
  .skill_div2 {
    width: 100%;
    height: 400px;
    padding: 2%;
    margin: 1%;
    /* border: 2px solid red; */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }
}

.size-image {
  width: 100%;
  height: 80%;
}

.modal-image-modal{
  width: 100%;
    height: 80%;
}