@import url("https://fonts.googleapis.com/css2?family=Bentham&family=Martian+Mono:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.aboutme_container {
  width: 95%;
  margin: auto;
  display: flex;
  height: 80vh;
  min-width: 300px;
}

.aboutme_left_container {
  flex: 1;
  width: auto;
  height: 75vh;
  display: flex;
  /* border: 2px solid red; */
  justify-content: center;
  align-items: center;
  margin-right: 2%;
}

.about_me_left_intro_div {
  /* border: 2px solid blue; */
  text-align: center;
}

.aboutme_left_line1 {
  color: rgb(62, 62, 62);
  font-size: 180%;
  font-weight: 700;
}

.aboutme_left_line2 {
  color: teal;
  font-size: 350%;
  font-weight: 700;
  font-family: "Bentham", serif;
  font-family: "Martian Mono", monospace;
}
.aboutme_left_line2_title {
  color: teal;
  font-size: 350%;
  font-weight: 700;
  font-family: "Bentham", serif;
  font-family: "Martian Mono", monospace;
  text-align: center;
}
.aboutme_left_line3 {
  color: rgb(62, 62, 62);
  font-size: 150%;
  font-weight: 700;
}

.aboutme_right_container {
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutme_right_intro_div {
  width: auto;
}

.aboutme_intro {
  color: rgb(62, 62, 62);
  font-size: 150%;
  font-weight: 350;
  text-align: justify;
}

@media screen and (width <876px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .aboutme_container {
    width: 90%;
    margin: auto;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .aboutme_left_container {
    margin-bottom: 10%;
  }

  .aboutme_left_line1 {
    color: rgb(62, 62, 62);
    font-size: 150%;
    font-weight: 700;
  }

  .aboutme_left_line2 {
    color: teal;
    font-size: 280%;
    font-weight: 700;
    font-family: "Bentham", serif;
    font-family: "Martian Mono", monospace;
  }

  .aboutme_left_line3 {
    color: rgb(62, 62, 62);
    font-size: 150%;
    font-weight: 700;
  }

  .aboutme_intro {
    color: rgb(62, 62, 62);
    font-size: 100%;
    font-weight: 400;
    text-align: justify;
  }
  .aboutme_right_container {
    padding-bottom: 10%;
    margin-bottom: 5%;
  }
}






* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.Skills_container {
  width: 95%;
  margin: auto;
  /* height: 80vh; */
  /* padding: 5%; */
  /* border: 2px solid blue; */
}

.technicalSkills_div {
  width: inherit;
  display: flex;
  /* max-width: 50%; */
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill_div {
  padding: 4%;
  margin: 1%;
  /* border: 2px solid red; */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  background-color: teal;
}

.skill_Name {
  color: white;
  transition: 0.5s;
}

.skill_img {
  display: none;
  /* mix-blend-mode: multiply; */
}

.skill_Name:hover {
  color: black;
}

@media screen and (width<1200px) {
  .Skills_container {
    height: 85vh;
    overflow: scroll;
  }
}

@media screen and (width<=800px) {
  .Skills_container {
    width: 90%;
    margin: auto;
    min-width: 300px;
    height: 80vh;
    margin-bottom: 2%;

    /* scroll-behavior: smooth; */
  }
  .technicalSkills_div {
    display: grid;
  }

  .skill_div:nth-child(odd) {
    width: 100%;
    display: flex;
    min-height: 20vh;
    /* flex-direction: row-reverse; */
    align-items: center;
    background-color: white;
    justify-content: center;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid teal;

    /* border: 2px solid red; */
  }
  .skill_div:nth-child(even) {
    width: 100%;
    display: flex;
    min-height: 20vh;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: none;
    border-bottom: 2px solid teal;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    /* border: 2px solid red; */
  }

  .skill_Name {
    display: none;
  }

  .skill_img {
    display: block;
    width: 25%;
  }
}
