* {
  padding: 0%;
  margin: auto;
  box-sizing: border-box;
}

.body_container {
  width: 95%;
  margin: auto;
  display: flex;
  height: 80vh;
  /* border: 2px solid red; */
  align-items: center;
  z-index: 100;
}

.left_body_container {
  flex: 1;
  /* border: 2px solid red; */
  height: auto;
  text-align: center;
}

.intro_line1 {
  color: teal;
  font-weight: 400;
  font-size: 150%;
}

.intro_line2 {
  color: #3e3c3d;
  font-size: 400%;
  font-weight: 700;
}

.right_body_container {
  flex: 1;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;

  /* border: 2px solid blue */
}

.logo {
  /* mix-blend-mode: multiply; */
  max-width: 100%; 
  height: auto; 
}

.logo_div {
  border-radius: 50%;
  /* border: 2px solid black; */
  overflow: hidden;
  /* width: 100%; */
  text-align: center;
}

@media screen and (width<=900px) {
  .body_container {
    min-width: 300px;
    width: 95%;
    margin: auto;
    padding-top: 7%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 7%;
  }

  .left_body_container {
    width: 95%;
    margin: auto;
    text-align: center;
  }

  .intro_line1 {
    color: teal;
    font-weight: 400;
    font-size: 140%;
  }

  .intro_line2 {
    color: rgb(62, 62, 62);
    font-size: 200%;
    font-weight: 700;
  }

  .right_body_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo_div {
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    padding-bottom: 20%;
  }

  .logo {
    height: 45vh;
    clip-path: ellipse();
  }
}

@media screen and (width < 100px) {
  .right_body_container {
    margin-bottom: 10%;
  }
}
