@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");

* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

.header_container {
  display: flex;
  width: 95%;
  padding-top: 1%;
  padding-bottom: 2%;
  margin: auto;
  /* border: 2px solid red; */
  align-items: center;
  /* background-color: rgb(24, 81, 132); */
  border-radius: 0 0 10px 10px;
}

.name_div {
  flex: 1;
  width: 100%;
  margin: auto;
  padding-left: 1%;
}

.name_heading {
  color: black;
  font-size: 250%;
  font-family: "Slabo 27px", serif;
}

.header_menu_container {
  flex: 1;
  width: 100%;
  margin: auto;
  /* border: 2px solid blue; */
}

.menu_nav {
  display: flex;
  justify-content: space-between;
}

.menu_options {
  margin-right: 4%;
  text-decoration: none;
  color: #323031;
  font-size: 125%;
  font-weight: 600;
  transition: 0.5s;
}

.menu_options:hover {
  margin-right: 4%;
  text-decoration: none;
  color: teal;
  font-size: 125%;
}

.menu_options:hover::after {
  height: 2px;
  width: 50%;
}

@media screen and (max-width: 700px) {
  .header_container {
    min-width: 300px;
    display: flex;
    width: 95%;
    padding-top: 5%;
    padding-bottom: 2%;
    margin: auto;
    /* border: 2px solid red; */
    align-items: center;
    /* background-color: rgb(24, 81, 132); */
    border-radius: 0 0 10px 10px;
  }

  .name_heading {
    color: #323031;
    font-size: 200%;
    font-family: "Slabo 27px", serif;
  }

  .menu_options {
    margin-right: 4%;
    text-decoration: none;
    color: #323031;
    font-size: 90%;
    font-weight: 600;
    transition: 0.5s;
  }

  .menu_options:hover {
    margin-right: 4%;
    text-decoration: none;
    color: black;
    font-size: 90%;
  }
}





.language_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: color 0.3s ease;
  display: inline-flex;
  align-items: center; /* Para centralizar a seta verticalmente */
}

.language_button:hover {
  color: #666;
}

.language_button:focus {
  outline: none;
}

.language_button .arrow {
  width: 0;
  height: 0;
  margin-left: 5px;
  border-style: solid;
  border-width: 5px 3.5px 0 3.5px;
  border-color: #333 transparent transparent transparent;
  transition: border-color 0.3s ease;
}

.language_button:hover .arrow {
  border-color: #666 transparent transparent transparent;
}
